<template>
    <div>
        <div>กราฟแสดงภาพรวม อุณหภูมิ (Temperature) และ ความชื้น (Humidity)</div>
        
        <!--width 1130 -->
     <client-only>
     <VueApexCharts 
     
     height="400"
     :options="chartOptions" 
     :series="chartOptions.series"></VueApexCharts>
     </client-only>
    </div>
</template>

<script>
import axios from "@nuxtjs/axios";
const mapdataurl = "http://yakkaw.mfu.ac.th:9001/api/v1/mapdata";

export default {
  components: {
    VueApexCharts: () => import('vue-apexcharts')
  },
  data() {
    return {
      
      chartOptions: {
        series: [{
          name: 'Temperature',
          type: 'column',
          data: [440, 505, 414, 671, 227, 413, 201, 352, 752, 320, 257, 160]
        }, {
          name: 'Humidity',
          type: 'line',
          data: [23, 42, 35, 27, 43, 22, 17, 31, 22, 22, 12, 16]
        }],
          chart: {
          height: 350,
          type: 'line',
        },
        responsive : [{
          breakpoint : 300,
        }],
        stroke: {
          width: [0, 4]
        },
        title: {
          text: 'Humidity & Temperature'
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: [1]
        },
        labels: ['01 Jan 2001', '02 Jan 2001', '03 Jan 2001', '04 Jan 2001', '05 Jan 2001', '06 Jan 2001', '07 Jan 2001', '08 Jan 2001', '09 Jan 2001', '10 Jan 2001', '11 Jan 2001', '12 Jan 2001'],
        
        yaxis: [{
          title: {
            text: 'Temperature',
          },
        
        }, {
          opposite: true,
          title: {
            text: 'Humidity'
          }
        }]
      }
    }
  },
    
    async created() {
      this.initialized()
    },
    methods : {
      async initialized() {
        const res = await this.$axios.get(mapdataurl);
        let humi_dat = []
        let temp_dat = []
        for(let i = 0 ; i<res.data.length ; i++){
          humi_dat[i] = res.data[i].humidity
          temp_dat[i] = res.data[i].temperature
          this.chartOptions.labels[i] = parseInt(res.data[i].deviceid)
        }
        
        this.chartOptions.series = [{
          name: 'Temperature',
          type: 'column',
          data: temp_dat
        }, {
          name: 'Humidity',
          type: 'line',
          data: humi_dat
        }]
        
      }
    }
    

  }
</script>