<template>
    <div>
        <div>กราฟแสดงสัดส่วนสถานะตามเกณฑ์ของสี</div>
        <!--width = 450-->
     <client-only>
     <VueApexCharts 
     
     type="donut" 
     :options="chartOptions" 
     :series="series"></VueApexCharts>
     </client-only>
    </div>
</template>

<script>

import axios from '@nuxtjs/axios';
const mapdataurl = "http://yakkaw.mfu.ac.th:9001/api/v1/mapdata";

export default {
  components: {
    VueApexCharts: () => import('vue-apexcharts')
  },
  data() {
    return {
        series: [44, 55, 41, 17, 15],
        chartOptions: {
            labels: ['BLUE', 'GREEN', 'YELLOW', 'ORANGE','RED'],
            
              color:['#EE5A4E','#EE5A4E','#EE5A4E','yellow','orange'],
            
            responsive : [{
          breakpoint : 200,
        }],
        },

    }
  },
  async created(){
    this.initialized()
  },
  methods : {
     async initialized() {
      const res = await this.$axios.get(mapdataurl);

      var _B = 0; var _G = 0; var _Y = 0; var _O = 0; var _R = 0;

      for(let i = 0 ; i < res.data.length ; i++){
        res.data[i].color == 'B' ? _B += 1 
      : res.data[i].color == 'G' ? _G += 1
      : res.data[i].color == 'Y' ? _Y += 1
      : res.data[i].color == 'O' ? _O += 1
      : _R += 1
      }

      this.series = [_B,_G,_Y,_O,_R]
    }
  }
}
</script>