<template>
    <div>
        <div>กราฟแสดงปริมาณฝุ่น PM 2.5 PM 10 และ PM 100 ในเซ็นเซอร์ </div>
        <!--<div>{{chartOptions.series[0].data[0]}}</div>-->
     <client-only>
     <VueApexCharts 
     
     
     type="line" 
     :options="chartOptions"
     :series="chartOptions.series" 
     ></VueApexCharts>
     </client-only>
    </div>
</template>

<script>

import axios from '@nuxtjs/axios';
const mapdataurl = "http://yakkaw.mfu.ac.th:9001/api/v1/mapdata";
//const link_url = "http://my-json-server.typicode.com/apexcharts/apexcharts.js/yearly";
     
export default {
  components: {
    VueApexCharts: () => import('vue-apexcharts')
  },
  data() {
    return {
      chartOptions: {
        chart: {
          id: 'vuechart-example',
          height : 150
        },
        responsive : [{
          breakpoint : 200,
        }],
        color : ["#FBC73C"/*Yellow PM100*/
        ,"#74FAF2"/*Green PM10*/
        ,"#35AAF6"/*Blue PM2.5*/
        ,"#FF89DD"/*Pink AQI*/],
        zoom : {
          enabled : false
        },
        dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
        stroke : {
          width: [5, 7, 5,3],
          curve: 'smooth',
          //dashArray: [0, 8, 5]
        },
        dataLabels : {
          enabled : false
        },
        title : {
          text: 'ปริมาณฝุ่น (ไมโครกรัม ต่อ ลูกบาศก์เมตร) ',
          align: 'left'
        },
        legend: {
          tooltipHoverFormatter: function(val, opts) {
            return val + ' - ' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + ''
          }
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1,
          hover: {
            sizeOffset: 6
          }
        },
        noData: {
          text: 'Loading...'
        },
        
        xaxis: {
      categories: ['01 Jan', '02 Jan', '03 Jan', '04 Jan', '05 Jan', '06 Jan', '07 Jan', '08 Jan', '09 Jan',
            '10 Jan', '11 Jan', '12 Jan'
          ],
        },
        tooltip: {
          y: [
            {
              title: {
                formatter: function (val) {
                  return val + " (mins)"
                }
              }
            },
            {
              title: {
                formatter: function (val) {
                  return val + " per session"
                }
              }
            },
            {
              title: {
                formatter: function (val) {
                  return val;
                }
              }
            }
          ]
        },
        /*
        grid: {
          borderColor: '#f1f1f1',
        },
        */

    series: [{
            name: "PM 2.5",
            data: [45, 52, 38, 24, 33, 26, 21, 20, 6, 8, 15, 10]
          },
          {
            name: "PM 10",
            data: [35, 41, 62, 42, 13, 18, 29, 37, 36, 51, 32, 35]
          },
          {
            name: 'PM 100',
            data: [87, 57, 74, 99, 75, 38, 62, 47, 82, 56, 45, 47]
          },
          {
            name: 'A.Q.I',
            data: [17, 27, 34, 49, 55, 58, 62, 67, 72, 76, 85, 97]
          }
        ]
        
        
      },
      
      
    }
  },
  async created() {
    //this.updateChart()
    this.updateSeries()
  },
  methods : {
     async updateSeries() {
       const res = await this.$axios.get(mapdataurl);
       let pm25_ = []
       let pm10_ = []
       let pm100_ = []
       let aqi_ = []
       for(let i = 0 ;i<res.data.length ;i++ ){
         pm25_[i] = res.data[i].pm25
         pm10_[i] = res.data[i].pm10
         pm100_[i] = res.data[i].pm100
         aqi_[i] = res.data[i].aqi
         this.chartOptions.xaxis.categories[i] = parseInt(res.data[i].deviceid)
       }
       
       this.chartOptions.series = [
         {
         name : "PM 2.5",
         data : pm25_
         },
         {
         name : "PM 10",
         data : pm10_
         },
         {
         name : "PM 100",
         data : pm100_
         },
         {
           name : "A.Q.I",
           data : aqi_
         }]
       
       /*
       let newdata = []

       for(let i = 0 ;i< res.data.length;i++) {
         newdata[i] = { "x" : res.data[i].id , "y" : res.data[i].humidity  }
         
       }//[{res.data.id : res.data.humidity}]
       for(let i = 0 ;i< res.data.length;i++) {
        this.chartOptions.xaxis.categories[i] = i+1
       }
       this.chartOptions.series = [{
         name : "humidity",
         data : newdata
       }]
       */
       
       
     }
  }
  }
</script>