<template>
    <div>
        <!-- <div>แสดงผลภาพรวมของ sensors, สภาพคุณภาพอากาศโดยรวม สำหรับนำไปใช้รายงานเชิงลึก </div> -->
     <div>กราฟแสดงสัดส่วน Trend คุณภาพอากาศของเซ็นเซอร์ </div>
     <client-only>
     <VueApexCharts 
     
     type="bar" 
     :options="chartOptions" 
     :series="chartOptions.series"></VueApexCharts>
     </client-only>
    </div>
</template>

<script>
import axios from '@nuxtjs/axios'
const mapdataurl = "http://yakkaw.mfu.ac.th:9001/api/v1/mapdata";
//const mapdataurl_timestamp = "http://localhost:9999/timestamp";

export default {
    components: {
    VueApexCharts: () => import('vue-apexcharts')
  },
  data() {
      return {
          chartOptions : {
              series: [{
          name : 'Trend UP' ,
          data: [44]
        }, {
          name : 'Trend EQUAL' ,
          data: [53]
        },
        {
          name : 'Trend DOWN' ,
          data: [53]
        }],
          chart: {
          type: 'bar',
          height: 430
        },
        responsive : [{
          breakpoint : 200,
        }],
        plotOptions: {
          bar: {
            horizontal: true,
            dataLabels: {
              position: 'top',
            },
          }
        },
        dataLabels: {
          enabled: true,
          offsetX: -6,
          style: {
            fontSize: '12px',
            colors: ['#fff']
          }
        },
        stroke: {
          show: true,
          width: 1,
          colors: ['#fff']
        },
        xaxis: {
          categories: [''],//, 2002, 2003, 2004, 2005, 2006, 2007],
        },
        yaxis : {
            name : 'Amount of devices'
        }
        }
      }
  },
  async created() {
      
      this.intitialized()
      
      
  },
  methods : {
      async intitialized() {
            
            const res = await this.$axios.get(mapdataurl);
            let d_trend =  0;
            let e_trend  = 0;
            let u_trend = 0;

            for(let i = 0 ; i < res.data.length; i++) {
                 res.data[i].trend == 'd' ? d_trend += 1 
                :res.data[i].trend == 'e' ? e_trend += 1
                :u_trend += 1
            }
            let len = res.data.length
            //this.chartOptions.series = [d_trend,e_trend,u_trend];
            this.chartOptions.series = [{
                name : 'Trend UP' ,
                data: [u_trend]
                }, {
                name : 'Trend EQUAL' ,
                data: [e_trend]
                },
                {
                name : 'Trend DOWN' ,
                data: [d_trend]
            }]
            //let
            /* 
            for(let i = 0; i < res.data.length;i++) {   
            }
            this.series = [{
                    name: 'Series 1',
                    data: res.data[i].trend ,
                    }, {
                    name: 'Series 2',
                    data: [20, 30, 40, 80, 20, 80],
                    }, {
                    name: 'Series 3',
                    data: [44, 76, 78, 13, 43, 10],
                }]*/
            },

      
      
  }
}
</script>