<template>
<v-card elevation="3">
<v-container>
  
    <v-form ref="form" @submit.prevent="addData" lazy-validation>
        
        <v-radio-group required 
        v-model="radios" 
        row 
        :rules="radiorule">
            
            <template v-slot:label>
              <div>Send Your Feedback <strong>TO</strong></div>
            </template>
          <v-radio value="Aj.Tou">
            <template v-slot:label>
              <div>MATH @ <strong class="success--text">Firstmentor</strong></div>
            </template>
          </v-radio>
          <v-radio value="Aj.PoppyYang">
            <template v-slot:label>
              <div>CHINESE @ <strong class="error--text">Secondmentor</strong></div>
            </template>
          </v-radio>
          <v-radio value="UNFOX ENG. Channel">
            <template v-slot:label>
              <div>ENGLISH @ <strong class="primary--text">Thirdmentor</strong></div>
            </template>
          </v-radio>
          <v-radio value="KidsMeSong Thai Channel.">
            <template v-slot:label>
              <div>THAI @ <strong class="warning--text">Fourthmentor</strong></div>
            </template>
          </v-radio>
        </v-radio-group>

        <v-textarea
          outlined
          name="input-7-4"
          label="WRITE YOUR FEEDBACK"
          value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
          v-model="txt"
          required
          :rules="textarearule"
        ></v-textarea>
        
        
        
        <!--<v-switch v-model="switcher" label="Switch On/Off" inset></v-switch>-->
        <v-rating v-model="rating" label="Rating"></v-rating>
        <br>
        <v-btn color="success" class="mr-4" @click="addData">Submit</v-btn>
        <v-btn color="warning" class="mr-4" @click="reset">
            Clear Form
        </v-btn>
        
    </v-form>
    
    
</v-container>
</v-card>
</template>

<script>

import {db} from '../plugins/firebaseConfig'
import firebase from 'firebase/app'

export default {

    data() {
        return {
            txt: '',
            alert : false,
            radios:'',
            //switcher: false,
            rating:0,
            
            
        }
    },
    
    methods: {
      addData(){
        var data = {
        txt: this.txt,
        
        radios: this.radios,
        //switcher: this.switcher,
        rating: this.rating,
        
        };

        if(data.txt != '' && data.radios != 0 && data.rating != 0){
        db.collection("RecentFeedback").doc("recent feedback").set(data)
            .then(function () {
                console.log("Document successfully written! -> MyForm");
            })
            .catch(function (error) {
                console.error("Error writing document: ", error);
            });

    // เก็บข้อมูล Input Text ใน collection MyText (มีหลาย document ข้อมูลจะเพิ่มขึ้นเรื่อย ๆ )
    var dataText = {
        txt: this.txt,
        timestamp: firebase.firestore.FieldValue.serverTimestamp()
    }
        db.collection("All feedback").doc().set(dataText)
            .then(function () {
                console.log("Document successfully written! -> MyText");
            })
            .catch(function (error) {
                console.error("Error writing document: ", error);
            });
        } else {
          
        }
      },
      reset(){
        this.$refs.form.reset()
      },
      
    }
}
</script>

<style >
 
</style>