<template>
  <v-card elevation="3">
    <html>
    <body>
      <div>
        <iframe  width="1155" height="680" src="https://www.youtube.com/embed/UnIJ0ZNjt3Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    
    </div>
      <div id="texty">
          <h1 >&nbsp;&nbsp;&nbsp;&nbsp;การบวกและการลบเศษส่วน
    
        การบวกและการลบเศษส่วน ไม่เหมือนการบวกลบในตัวเลขจำนวนเต็ม สำหรับเลขจำนวนเต็ม สามารถลบกันได้เลย แต่การบวกและการลบแบบเศษส่วน จะต้องทำให้ส่วนเท่ากันเสียก่อน จึงจะสามารถบวกลบกันได้ การบวกลบเศษส่วนของจำนวน 2 จำนวนที่มีส่วนเท่ากันให้นำเศษมาบวกกัน ตัวเลขที่เป็นส่วน คงไว้เท่าเดิม (เศษ หมายถึงตัวเลขข้างบน ส่วน หมายถึงตัวเลขข้างล่าง) ดังนั้น เอาเฉพาะตัวเลขข้างบนบวกลบกัน ตัวเลขข้างล่าง คงไว้เท่าเดิม
    
    <br>การบวกลบเศษส่วนแบ่งออกเป็น 2 กรณี ดังนี้
    <br>1. การบวกและการลบเศษส่วนเท่ากัน
    <br>2. การบวกและการลบเศษส่วนที่มีตัวส่วนไม่เท่ากัน 
    </h1>
      </div>
    </body>
    </html>
  </v-card>
</template>
 
   <script>
       export default{
 
       }
</script>
<style scoped>
h1{
   padding:5px;
   text-align :start;
}
#texty{
   margin-left: 50px ;
   margin-right: 50px;
}
iframe{
  border-radius: 2%;
}
</style>
 
