<template>
<v-card elevation="3">
    <html>
        
  <div>
        <center>
            <iframe width="1155" height="721.875" src="https://www.youtube.com/embed/K83gB5g86OE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
    
  </div>
  <body>
       
       <div id="texty" >
           
      <h1>ก.เอ๋ย ก.ไก่
ข.ไข่ อยู่ในเล้า
<br>ข.ขวด ของเรา
<br>ค.ควาย เข้านา
<br>ค.คน ขึงขัง
<br>ฆ.ระฆัง ข้างฝา
<br>ง.งู ใจกล้า
<br>จ.จาน ใช้ดี
<br>ฉ.ฉิ่ง ตีดัง
<br>ช.ช้าง วิ่งหนี..
<br>ซ.โซ่ ล่ามที..
<br>ฌ.กะเฌอ คู่กัน
<br>ญ.หญิง โสภา
<br>ฎ.ชะฎา สวมพลัน
<br>ฏ.ปะฏัก หุนหัน
<br>ฐ.สันฐาน เข้ามารอง
<br>ฑ.นางมนโฑ หน้าขาว
<br>ฒ.ผู้เฒ่า เดินย่อง
<br>ณ.เณร ไม่มอง
<br>ด.เด็ก ต้องนิมนต์
<br>ต.เต่า หลังตุง..
<br>ถ.ถุง แบกขน..
<br>ท.ทหาร อดทน
<br>ธ.ธง คนนิยม
<br>น.หนู ขวักไขว่
<br>บ.ใบไม้ ทับถม
<br>ป.ปลา ตากลม
<br>ผ.ผึ้ง ทำรัง
<br>ฝ.ฝา ทนทาน
<br>พ.พาน วางตั้ง
<br>ฟ.ฟัน สะอาดจัง
<br>ภ.สำเภา กางใบ..
<br>ม.ม้า คึกคัก..
<br>ย.ยัก เขี้ยวใหญ่
<br>ร.เรือ พายไป
<br>ล.ลิง ไต่ราว
<br>ว.แหวน ลงยา
<br>ศ.ศาลา เงียบเหงา
<br>ษ.ฤษี หนวดยาว
<br>ส.เสือ ดาวคะนอง
<br>ห.หีบ ใส่ผ้า
<br>ฬ.จุฬา ท่าผยอง
<br>อ.อ่าง เนืองนอง..
<br>ฮ.นกฮูก ตาโต..</h1>
 
    
        
 
        </div>
       
        </body>
    </html>
</v-card>
 
 
</template>
 
<script>
export default {
    
}
</script>
 
<style scoped>
h3{
    padding: 5 px;
    text-align: start;
}
#texty{
    margin-left: 50px;
    margin-right: 50px;
}
iframe{
  border-radius: 2%;
}
 
</style>
