<template>
  <v-card elevation="3">
    <html>
    <body>
      <div>
        <iframe width="1155" height="680" src="https://www.youtube.com/embed/6-dkablsxz4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </div>
      <div id="texty">
          <h1 br >&nbsp;&nbsp;&nbsp;&nbsp;ประโยคภาษาจีนที่บ่อยในชีวิตประจำวัน 100 ประโยค
    
    
    
    <br>1.你好！
    หนีห่าว
    สวัสดี
    
    <br>2.请！
    ฉิ่ง
    เชิญ
    
    <br>3.对不起。
    ตุ้ย ปู ฉี่
    ขอโทษ
    
    <br>4.谢谢！
    เซี่ยเซีย
    ขอบคุณ
    
    <br>5.不用谢！
    ปู๋ ย่ง เซี่ย
    ไม่เป็นไร,ไม่ต้องขอบคุณ.
    
    <br>6.你早！
    หนีเจ่า
    อรุณสวัสดิ์
    
    <br>7.晚安！
    หวั่นอัน
    ราตรีสวัสดิ์
    
    <br>8.请问,您贵姓？
    ฉิ่ง เวิ่น,หนิน กุ้ย ซิ่ง
    ขอทราบคุณแซ่(นามสกุล)อะไร
    
    <br>9.请原谅！
    ฉิ่ง เยวียนเลี่ยง
    โปรดให้อภัย
    
    <br>10.再见！
    ไจ้เจี้ยน
    แล้วพบกันใหม่
    
    <br>11.没关系！
    เหมยกวนสิ
    ไม่เป็นไร
    
    <br>12.请坐！
    ฉิ่ง จั้ว
    เชิญนั่ง
    
    <br>13.欢迎光临！
    ฮวนอิ๋ง กวงหลิน
    ยินดีต้อนรับ
    
    <br>14.请喝茶！
    ฉิ่ง เฮอ ฉา
    เชิญดื่มน้ำชา
    
    <br>15.请多关照！
    ฉิ่ง ตัว กวนเจ้า
    ฝากเนื้อฝากตัวด้วยคะ/ครับ
    
    <br>16.请多指教！
    ฉิ่ง ตัว จื่อเจี้ยว
    กรุณาชี้แนะด้วยคะ/ครับ
    
    </h1>
      </div>
    </body>
    </html>
  </v-card>
</template>
 
   <script>
       export default{
 
       }
</script>
<style scoped>
h1{
   padding:5px;
   text-align :start;
}
#texty{
   margin-left: 50px ;
   margin-right: 50px;
}
iframe{
  border-radius: 2%;
}
</style>
 
 
 
