<template>
<v-card elevation="3">
    <html>
        
  <div>
        <center>
            <iframe width="1155" height="721.875" src="https://www.youtube.com/embed/y13Pj_JLpm8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" >
                </iframe>
        </center>
    
  </div>
  <body>
       
       <div id="texty" >
           
      <h1>การเรียนรู้คำศัพท์และโครงสร้างไวยากรณ์ภาษาอังกฤษเป็นเรื่องที่สำคัญและเป็นพื้นฐานในการเรียนภาษา และที่โมดูโล่เราได้ให้ความสำคัญกับการสามารถนำภาษาที่เรียนรู้ไปใช้ได้จริง โดยใช้ระบบและวิธีการเรียนรู้แบบใหม่ ซึ่งเราจะสอนผ่านการสนทนาออนไลน์ระหว่างครูกับนักเรียน โดยนักเรียนจะสามารถเรียนรู้ภาษาอังกฤษได้อย่างเข้าใจลึกซึ้งและนำไปใช้ได้จริงตามวัตถุประสงค์ </h1>
 
 
     
 
        </div>
       
        </body>
    </html>
 
</v-card>
 
</template>
 
<script>
export default {
    
}
</script>
 
<style scoped>
h3{
    padding: 5 px;
    text-align: start;
}
#texty{
    margin-left: 50px;
    margin-right: 50px;
}
 iframe{
  border-radius: 2%;
}
 
</style>
 
